body {
	width: 600px;
	margin: 0 auto;
	background-color: #00688B;
}
h1 {
	margin: 0
	padding: 20px 0;
	color: #00539F
	text-shadow: 3px 3px 1px black;
}
.ft-perfil{
	width: 50%;
	border-radius: 50%;
	animation-duration: 6s;
	animation-name: slide;
	animation-iteration-count: infinite;
}
img{
	border-radius: 200px
}
@keyframes slide {
	from {
		margin-left: 50%;
		width: 100%
	}
	to {
		margin-left: 10%;
		width: 70%
	}	
.circle:hover
{
        border-radius:50%;
}
